.title {
  text-transform: uppercase;
  font-weight: 800;
  color: var(--brand-main-color);
}


.branchDetailsContainer {
  padding: 0px;
  justify-content:flex-start;
}


.branchHeader {
  display: flex;
  flex-direction: column;
  padding-top: 150px;
  justify-content: left;
}