:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --brand-main-color: #ad2121;
  --brand-main-color-hover: #ad2121be;
  --black-font-color: #263238;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  background-color: #f5f5f5;
}

a {
  color: black;
  text-decoration: none;
}

li {
  list-style: none;
}

.branchDetailsContainer {
  display: flex;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  gap: 20px;
}

.embla {
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.embla__container {
  display: flex;
  gap: 10px;
  margin: 0 20px;
}

.embla__slide {
  flex: 0 0 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.embla__slide img {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  object-fit: cover;
}

/* No desktop, exibe 3 slides ao mesmo tempo */
@media (min-width: 769px) {
  .embla__slide {
    flex: 0 0 calc(100% / 3); /* 3 slides por vez */
  }
}
