.ourHistory {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 100px;
}

.textContainer {
  flex: 1;
  padding-right: 20px;
}

.textContainer h1 {
  font-size: 28px;
  color: var(--black-font-color);
  margin-bottom: 10px;
}
.textp1 {
  margin-bottom: 40px;
}
.textContainer p {
  color: var(--black-font-color);
  font-size: 16px;
  line-height: 1.5;
}

.imageContainer {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageOne {
  width: 300px;
  height: auto;
  position: relative;
  z-index: 2; /* Imagem superior */
  transform: translateX(90px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.imageTwo {
  width: 250px;
  height: auto;
  position: absolute;
  z-index: 1; /* Imagem inferior */
  transform: translate(-60px, 80px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  opacity: 0.9;
  border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
  .ourHistory {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .textContainer {
    padding-right: 0;
    margin-bottom: 20px;
  }

  .imageOne,
  .imageTwo {
    width: 100%;
    max-width: 200px;
    transform: none;
    position: relative;
  }
  .imageOne {
    transform: translateX(180px);
  }

  .imageTwo {
    transform: translate(-120px, 80px);
    margin-top: -20px;
  }
}
